COMPOSE_IGNORE_ORPHANS=true
COMPOSE_PROJECT_NAME=m3

### Keykoak settings

## generated with `head -c32 /dev/urandom | base64`
OAUTH_COOKIE_SECRET=xEXQIN0dSKOvlaIwCPzQF4mY2bTYJxGbsuDLSZfBi68=
OAUTH_EMAIL_DOMAIN=*

KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=password
KEYCLOAK_DB=keycloak
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin

KEYCLOAK_HOST=auth.master3.takima.io.localhost
KEYCLOAK_REALM=master3
OIDC_CLIENT_ID=m3-press-browser
OIDC_CLIENT_SECRET=6b94bc2a-1807-48f2-aa34-b33680e4edb1

OAUTH_ISSUER_URL=https://${KEYCLOAK_HOST}/auth/realms/${KEYCLOAK_REALM}

### Gitlab settings
# Host of the gitlab server
M3_GITLAB_HOST=gitlab.master3.takima.io.localhost

# For self hosted gitlab server 
M3_GITLAB_ROOT_PASSWORD=root1234

### Vuepress settings
# Host of the press server
M3_PRESS_HOST=guide.master3.takima.io.localhost

